body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
    background-color:rgb(220, 240, 230);
}

.banner {
    text-align: center;
    background: rgb(20, 16, 16);
    position: fixed;
    top: 0px;
    width: 100%;
}

.banner h1 {
    color: rgb(255,255,255);
    font-weight: bold;
    font-style: italic;
}

.centerPage {
    width:80%;
    margin:auto;
    margin-top:60px;
    display: flex;
    flex-direction: row;
}

.content {
    margin: 10px;
    background-color: rgb(255, 249, 249);
    width:80%;
    padding:20px;
}

.content p, .content ul {
    width:100%;
    line-height: 1.5em;
    text-align: justify;
}

.content h2 {
    width:100%;
    border-bottom: 2px solid black
}

.content img {
    float: left;
    margin: 10px;
    margin-top: 0px;
    clear: both;
}

.contentRight {
    width: 20%;
    background-color: rgb(255, 249, 249);
    padding: 20px;
    margin: 10px;
}

.contentRight h2 {
    text-align: center;
    border-bottom: 2px solid black;
}

.contentRight h4 {
    text-align: center;
    margin: 10px;
}

.contentRight img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%
}

.buttons {
    display: flex;
    justify-content: center;
}